<html>
 <body>
 <style> body {background-color: #97cad1;} </style>
  <center> <h1> MOVIE NLP WEB SERVICE </h1> <br> <br> 
   <strong> Please Choose a Service You Would Like to Deploy </strong> <br>
  </center>
  <p>
   <center>
    <table style="width:100%">
     <tr>
      <th> <a href="{{url_for('service1')}}" > <p>Movie Similarity </p> </a> </th>
      <th> <a href="{{url_for('service2')}}" > <p> Movie Polarity </p> </a> </th> 
      <th> <a href="{{url_for('service3')}}" > <p> Movie Mood </p> </a> </th>
      <th> <a href="{{url_for('service4')}}" > <p> Language Switch </p> </a> </th>
      <th> <a href="{{url_for('service5')}}" > <p> Top Noun Phrases </p>  </a> </th>
      <th> <a href="{{url_for('service6')}}" > <p> Top Adjectives </p> </a> </th>
     </tr>
    </table>

   </center>   
  </p>
 </body>
</html>